# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.idx
*.ilg
*.ind
*.lof
*.lot
*.out
*.toc
*.log
*.synctex.gz
*.bcf
*.run.xml
*.bbl
*.glsdefs
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.loc
*.soc

# VS Code specific
.vscode/
.gemini/

